AzureIoT/.development

AzureIoT/sdk.txt

AzureIoT/src/sdk/*.h
AzureIoT/src/sdk/*.c

AzureIoT/examples/iothub_client/iothub_client_sample_http/*.h
AzureIoT/examples/iothub_client/iothub_client_sample_http/*.c

AzureIoT/examples/serializer/simplesample_http/*.h
AzureIoT/examples/serializer/simplesample_http/*.c
